.main{
    display:grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px;
}
.side_bar{
    height: 610px;
    width: 300px;
    background-color: #38bdf8;
}

.dash{
    margin-left:30px;
    margin-top: 30px;
}

.home{
    margin-left:30px;
}

.top_bar{
    height: 130px;
    width: 1050px;
    background-color: white; 
    margin-left: 250px;

}

.b1{
    margin-top:80px;
    height:30px;
    width:100px;
    margin-left: 60px;
    background-color: #38bdf8;
    border-color: #38bdf8;
    border-radius: 17px;
    border-style: solid;
}

/* <path d="M13,3V9H21V3M13,21H21V11H13M3,21H11V15H3M3,13H11V3H3V13Z"/> */

.bottom{
    display:grid;
    height: 480px;
    width: 1050px;
    background-color: #e5e7eb;
    margin-left:300px;
    margin-top:80px;
    grid-template-columns: 50px 50px;
    /* column-gap:2px; */
}

.inside{
    display:grid;
    position: absolute;
    height: 400px;
    width: 610px;
    background-color: #e5e7eb;
    margin-left: 15px;
    margin-top:45px;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px 50px;
    column-gap: 270px;
    row-gap: 80px;
}
.line{
    height: 120px;
    width:6px;
    background-color: #facc15;
    border-radius: 2px;
}

.item1{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
    
}

.item2{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
}

.item3{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
}

.item4{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
}

.item5{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
}

.item6{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
}


.side{
    display:grid;
    position: relative;
    height: 400px;
    width: 380px;
    background-color: #e5e7eb;
    margin-left: 600px;
    margin-top:45px;
    grid-template-rows: 50px 50px;
    row-gap: 150px;
}

.item7{
    height:180px;
    width:380px;
    background-color: white;
    border-radius: 5px;

}
.b2{
    margin-top:100px;
    height:30px;
    width:100px;
    margin-left: 130px;
    background-color: #38bdf8;
    border-color: #38bdf8;
    border-radius: 17px;
    border-style: solid;
}


.item8{
    height:180px;
    width:380px;
    background-color: white;
    border-radius: 5px;
}
