.main{
    display:grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px;
}
.side_bar{
    height: 610px;
    width: 300px;
    background-color: #38bdf8;
}

.top_bar{
    height: 130px;
    width: 1050px;
    background-color: white;
    margin-left: 250px;

}

.bottom{
    display:grid;
    height: 480px;
    width: 1050px;
    background-color: #e5e7eb;
    margin-left:300px;
    margin-top:80px;
    grid-template-columns: 50px 50px;
}

.inside{
    display:grid;
    height: 400px;
    width: 610px;
    background-color: pink;
    margin-left: 10px;
    margin-top:45px;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px 50px;
    column-gap: 270px;
    row-gap: 80px;
}
.line{
    height: 120px;
    width:6px;
    background-color: #facc15;
    border-radius: 2px;
}

.item1{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
    
}

.item2{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
}

.item3{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
}

.item4{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
}

.item5{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
}

.item6{
    height:120px;
    width:290px;
    background-color: white;
    border-radius: 5px;
}


.side{
    display:grid;
    height: 400px;
    width: 380px;
    background-color: green;
    margin-left: 600px;
    margin-top:45px;
    grid-template-rows: 50px 50px;
    row-gap: 150px;
}

.item7{
    height:180px;
    width:380px;
    background-color: white;
    border-radius: 5px;

}

.item8{
    height:180px;
    width:380px;
    background-color: white;
    border-radius: 5px;
}
